


@font-face {
    font-family: 'tisaproregular';
    src: url('../fonts/tisapro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tisaprobold';
    src: url('../fonts/tisapro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tisaproitalic';
    src: url('../fonts/tisapro-ita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*---------------------*/
/*   GENERAL ELEMENTS  */
/*---------------------*/

body {
    font-family: 'tisaproregular', Times, serif;
    font-size: 1rem;
    background-color: #FFFFFF;
    color: #333;
    padding-top: 10px;
}

a {
    color: #60BEAE
}

h1 {
    color: #54a799;
    font-family: "tisaprobold", Times, serif;
    font-size: 3.5rem;
    text-shadow: 2px 1px 1px rgba(55,124,140,.3);
    text-align: center;
    margin-bottom: 4%;
}

h2 {
    color: #444;
    font-size: 1.3rem;
    margin-bottom: 3%;
    font-family: 'tisaprobold', Times, serif;
}

p {
    line-height: 130%;
    font-size: 1.1rem;
    margin-bottom: 1%;
}

figcaption {
    font-size: 0.8rem;
    text-align: center;
}

footer {
    background-color: #000;
    color: #FFF;
    font-family: tisaproitalic, Times, serif;
    padding: 1.2%;
    font-size: 0.9rem;
    text-align: center;
}
.intro {
    background-color: #EFF8F7;
    padding: 3%
}

.intro strong {
    color: #60BEAE;
}
/*---------------------*/
/*   GENERAL CLASSES   */
/*---------------------*/
.cf:before, .cf:after {
    display: table;
    content: "";
}

.cf:after {
    clear: both;
}

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/
section {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}


.first {
    display: block;
}

/*------------------------*/
/*      BURGER STYLES     */
/*------------------------*/

.column {
    width: 40%;
    margin-right: 10%;
    float: left;
}
.settings {
    width: 50%;
    margin-right: 0;
    float: left;
}

.burger {
    text-align: center;
}


/*------------------------*/
/*  REPEATING ELEMENTS    */
/*------------------------*/

.next {
    display: inline-block;
    background-color: #DDD;
    padding: 3%;
    color: #FFFFFF;
    font-family: "tisaprobold", Times, serif;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
}
.next:hover {
    background-color: #c03a2e;
}
.buttons {
    margin-top: 4%;
}
.buttons a, aside li{
    display: inline-block;
    background-color: #EFF8F7;
    padding: 3%;
    padding-left: 30px;
    color: #60BEAE;
    font-family: "tisaprobold", Times, serif;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 1%;
    margin-bottom: 2%;
    background-image: url(../media/leaf.svg);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.buttons a:hover {
    background-color: #f5fefd;
}

.buttons .beef {
    background-image: url('../media/beef.svg');
}
.buttons .cheddar,.buttons .emmentaler {
    background-image: url('../media/cheese.svg');
}
aside {
    display: none;
}
aside li {
    padding: 1%;
    padding-left: 30px;
    background-image: url('../media/beef.svg');
}

aside .o {
    background-color: #DDD;
    color: #FFF;
}

aside .s {
    background-color: #c03a2e;
    color: #FFF;
}


/*---------------------*/
/*    FORM ELEMENTS    */
/*---------------------*/


form {
    margin-top: 5%;
    border-top: 1px dashed #E5E5E5;
    border-bottom: 1px dashed #E5E5E5;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 5%;
}


fieldset {
    display: none;
}

input:not([type="radio"]), label {
    display: block;
    margin-bottom: 1.5%;
}
.burger input, input[type="radio"] + label {display: inline-block}
.burger input[type="text"] {
    margin-bottom: 4%;
}
input[type="text"],
input[type="email"],
textarea{
    border: 1px dashed  #60BEAE;
    border-radius: 4px;
    padding: 3%;
    width: 80%;
    margin-bottom: 2%;
    font-family: "tisaproregular", Times, serif;
    font-size: 0.8rem;
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline:none;
    border-style:solid;
}

input[type="radio"] + label {
    font-size: 0.9rem;
    margin-left: 1%;
    margin-right: 3%;
}

input[type="submit"] {
    border-style: none;
    display: inline-block;
    padding: 1%;
    font-size: 1.1rem;
}